<% include ../header %>

	<div class="jumbotron">
		<h1>Blog de Teste</h1>

		<form action="/login" method="post">
			<input type="email" name="user[email]" placeholder="Digite o email">
			<br>
			<input type="password" name="user[password]" placeholder="Digite a senha">
			<br>
			<button type="submit" class="btn btn-lg btn-success" >Entrar</button>
		</form>
	</div>

<% include ../footer %>